<header id="heading">
  <div class="center">
    <h1>SimplyMommy</h1>
    <h2>Where moms go for the simple answers to life's challenges.</h2>

    <%= link_to "Sign up!", signup_path, :class =>"btn.outline btn-lg btn-primary" %>
  </div>
</header>
