<div class="center jumbotron">
  <h1>SimplyMommy</h1>
  <h2>Where moms go for the simple answers to life's challenges</h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>
